h1 {
  font-size: 1.2em;
  color: #eee;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}


.tab-bar {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  display: table;
  table-layout: fixed;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 49px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar {
    border-top: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top;
    background-image: -webkit-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(270deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(180deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.tab-bar__item {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  position: relative;
  overflow: hidden;
  display: table-cell;
  width: auto;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.tab-bar__item > input {
  position: absolute;
  overflow: hidden;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.tab-bar__button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  height: 49px;
  letter-spacing: 0;
  color: #999;
  text-shadow: 0 1px none;
  vertical-align: top;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
  width: 100%;
  font-weight: 100;
  line-height: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar__button {
    border-top: none;
  }
}
.tab-bar__icon {
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 26px;
  display: block;
  height: 28px;
}
.tab-bar__label {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
}
.tab-bar__badge.notification {
  position: absolute;
  top: 5px;
  z-index: 10;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.tab-bar__icon + .tab-bar__label {
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}
.tab-bar__label:first-child {
  font-size: 16px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}
.tab-bar__button {
  color: #999;
}
:checked + .tab-bar__button {
  color: rgba(24,103,194,0.81);
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
}
.tab-bar__button:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.tab-bar__button:focus {
  z-index: 1;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.tab-bar__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 49px;
  z-index: 0;
}
.tab-bar--top {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: auto;
  border-top: none;
  border-bottom: 1px solid #ccc;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .tab-bar--top {
    border-bottom: none;
    -webkit-background-size: 100% 1px;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: -webkit-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -moz-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: -o-linear-gradient(90deg, #ccc, #ccc 50%, transparent 50%);
    background-image: linear-gradient(0deg, #ccc, #ccc 50%, transparent 50%);
  }
}
.tab-bar--top__content {
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.tab-bar--top-border__button {
  background-color: transparent;
  border-bottom: 4px solid transparent;
}
:checked + .tab-bar--top-border__button {
  background-color: transparent;
  border-bottom: 4px solid rgba(24,103,194,0.81);
}
.tab-bar--material {
  background-color: #009688;
  border-bottom-width: 0px;
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.14), 0 3px 5px -2px rgba(0,0,0,0.12), 0 5px 1px -4px rgba(0,0,0,0.2);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.14), 0 3px 5px -2px rgba(0,0,0,0.12), 0 5px 1px -4px rgba(0,0,0,0.2);
}
.tab-bar--material__button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tab-bar--material__button:after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  bottom: 0px;
  position: absolute;
  margin-top: -2px;
  background-color: #ffffff;
}
:checked + .tab-bar--material__button:after {
  width: 100%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}
:checked + .tab-bar--material__button {
  background-color: transparent;
  color: #ffffff;
}
.tab-bar--material__item:not([ripple]):active {
  background-color: #26a69a;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
