<div *ngIf="hero" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}
    <br>
    <label>group: </label>{{hero.group}}
    <br>
    <label>name: </label>{{hero.name}}
    <br>
    <label>email: </label>{{hero.email}}
      <input [(ngModel)]="hero.email" placeholder="email" />
    <br>
    <label>tel.: </label>{{hero.telephone}}
      <input [(ngModel)]="hero.telephone" placeholder="telephone" />
    <br>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete(hero); $event.stopPropagation()">Delete</button>
</div>


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
