<h2>Students of DRIR31 group</h2>
<div style="margin: 0 0 2em 5em;">
  <label>Student name:</label> <input #studentName />
  <button (click)="add(studentName.value, 'RDIR31'); studentName.value=''">
    Add
  </button>
</div>
<ul class="students">
  <p *ngFor="let student of students" (click)="onSelect(student)"
      [class.selected]="student === selectedStudent" (click)="gotoDetail()">
  <li *ngIf="student.group==='RDIR31'">
    <span class="badge" >{{student.id}}</span>
    <span>{{student.name}}</span>
</li>
</p>

</ul>
